h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: darkgreen;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.header {
    color: darkgreen;
}

.text {
    font-size: 500px;
}