h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: darkgreen;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.text {
    font-size: 25px;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.upper {
    text-transform: uppercase;
}

img{
    float: left;
    margin: 10px;
}